@font-face {
  font-family: "The Northern Block - Cobol-Bold";
  src: url("../Fonts/The Northern Block - Cobol-Bold.otf");
}

.CheckBoxes-root-1 .MuiFormLabel-root-8,
.MuiFormControlLabel-root-17 span,
.MuiButton-label-88 {
  font-family: "The Northern Block - Cobol-Bold" !important;
  src: url("../Fonts/The Northern Block - Cobol-Bold.otf") !important;
}

.MuiRadio-colorSecondary-27.MuiRadio-checked-24 span {
  color: #ef914b;
}

