@font-face {
  font-family: "The Northern Block - Cobol-Bold";
  src: url("../Fonts/The Northern Block - Cobol-Bold.otf");
}

.CheckBoxes-root-144 .MuiFormLabel-root-151,
.MuiFormGroup-root-158 span,
.MuiButton-label-194 {
  font-family: "The Northern Block - Cobol-Bold" !important;
  src: url("../Fonts/The Northern Block - Cobol-Bold.otf") !important;
}

.MuiButtonBase-root-39 {
  color: #005f82 !important;
}

.MuiRadio-checked-25 {
  color: #ef914b !important;
}

.CheckBoxes-question-4 {
  color: #ef914b !important;
}
