@font-face {
  font-family: "The Northern Block - Cobol-Bold";
  src: url("../Fonts/The Northern Block - Cobol-Bold.otf");
}

p,
h4 {
  font-family: "The Northern Block - Cobol-Bold";
}

.material-icons.blue600 {
  color: #005f82;
}

.material-icons.md-36 {
  font-size: 36px;
}
